<header>
  <div class="container header-bar">
    <h1 class="logo"><a href="{{ '/' | url }}">{{ site.name }}</a></h1>
    <nav class="nav-links">
      <a href="{{ '/about/' | url }}">会社概要</a>
      <a href="{{ '/blog/' | url }}">ブログ</a>
    </nav>
  </div>
</header>
