---
layout: layout.njk
title: News
---

<section class="section">
  <div class="container">
    <h1>News</h1>
    <ul>
      {% for post in collections.blog | reverse %}
        <li>
          <a href="{{ post.url | url }}">
            {{ post.date }} - {{ post.data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
